html {
	font-size: 16px;
	font-color: #676EE3;
	font-family: "helvetica",sans-serif;
	background-color: #FFFFFF;
}

body {
	width: 600px;
	margin: 20px auto;
	padding: 20px;
	font-color: #676EE3;
	
}

p {
	color: #676EE3;
}

a, a:visited {
	color: #fd5298;
	text-decoration: none;
}

table {
	width: 600px;
	border: 0px;
	background-color: #FFFFFF;
	padding: 20px auto;
	
}

#title {
	font-size: 20px;
	font-weight: bold;
}

#thumb {
	width: 250px;
}

#ds {
	width: 350px;
}

#ithumb {
	width: 200px;
}